<h3>{{name}}</h3>
<hr>
<div>
    姓名 <input type="text" ng-model="model.name">
    年龄 <input type="text" ng-model="model.age">
    性别 <select ng-model="model.gender">
            <option value="m">全部</option>
            <option value="man">男</option>
            <option value="male">女</option>
        </select>

    <table class="stuTbl">
        <thead>
        <tr>
            <th>选择</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="student in students |filter:model">
            <td><input type="checkbox" value="{{student.id}}"></td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.gender=="man"?"男":"女"}}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <button ng-click="add()">添加</button>
        <button>修改</button>
        <button>删除</button>
    </div>
</div>